body {
    background-color: #f3f5fc;
}

p {
    color: gray;
}

.header {
    width: 80px;
    height: 50px;
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 95%;
}

.leftContainer {
    padding: 1rem 1rem 1rem 1rem;
    display: inline-block;
    width: 65vw;
}

.rightContainer {
    display: inline-block;
    padding: 2rem 1rem 1rem 1rem;
    border: none;
    border-radius: 25px;
    width: 25vw;
    background: #ffffff;
    box-shadow: 0 0 10px rgb(187, 187, 187);
}

.inputContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.outputContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.inputClass {
    background: none;
    border: none;
    padding: 1rem;
    width: 90%;
}

.inputArea {
    padding: 1rem;
    width: 90%;
    font-size: 32px;
}

.outputArea {
    font-size: 32px;
}

.inputArea:focus {
    outline: none !important;
    border-radius: 25px;
    border: 1px solid #0a3871;
    box-shadow: 0 0 10px #719ECE;
}

.inputArea:focus {
    outline: none !important;
    border-radius: 25px;
    border: 1px solid #0a3871;
    box-shadow: 0 0 10px #719ECE;
}

.nota {
    display: flex;
    justify-content: center;
}

.sign {
    width: 15px;
    margin-right: 0.5rem;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.buttonsContainer button {
    margin: 0rem 0rem 0rem 1rem;
    width: 20vw;
}

.CopyButtonContainer {
    display: grid;
    justify-content: center;
    margin: 1rem;
}

.CopyButtonContainer .secondarybtn {
    width: 20vw;
    margin-top: 2rem;
}

.CopyButtonContainer p {
    text-align: center;
    margin: 0rem;
    padding: 0rem;
}

.primarybtn {
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid #0a3871;
    background: #0a3871;
    color: white;
}

.primarybtn:hover {
    border: 1px solid #0a3871;
    background: white;
    color: #0a3871;
}

.secondarybtn {
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid #0a3871;
    background: white;
    color: #0a3871;
}

.secondarybtn:hover {
    border: 1px solid #0a3871;
    background: #0a3871;
    color: white;
}

@media screen and (max-width:820px) and (min-width:376px){

    .main {
        display: grid;
        margin-left: 0rem;
    }

    .header {
        margin-left: 1.5rem;
    }

    .leftContainer {
        width: 100%;
    }

    .inputContainer {
        margin-left: 0rem;
    }

    .inputArea {
        
        width: 100%;
        font-size: 26px;
    }
    
    .outputArea {
        font-size: 26px;
    }

    p {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    
    .rightContainer {
        width: 90vw;
        margin-left: 0rem;
        padding-left: 0rem;
    }

    .buttonsContainer {
        display: grid;
        justify-content: center;
    }

    .buttonsContainer button {
        width: 70vw;
        margin: 0.5rem;
    }

    .CopyButtonContainer .secondarybtn {
        width: 80vw;
        margin-top: 2rem;
    }

}

@media screen and (max-width:375px){

    .main {
        display: grid;
        padding: 1rem;
    }

    .header {
        margin-left: 1.5rem;
    }

    .leftContainer {
        width: 90%;
    }

    .inputContainer {
        margin-left: 1rem;
    }

    .inputArea {
        
        width: 100%;
        font-size: 16px;
    }
    
    .outputArea {
        font-size: 16px;
    }

    p {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    
    .rightContainer {
        width: 85vw;
        margin-left: 1.5rem;
        padding-left: 1rem;
    }

    .buttonsContainer {
        display: grid;
    }

    .buttonsContainer button {
        width: 90vw;
        margin: 0.5rem;
    }

    .CopyButtonContainer .secondarybtn {
        width: 80vw;
        margin-top: 2rem;
    }

}